/* Track */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #141414;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background-color: #262626;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #434343;
}

/* Corner */
::-webkit-scrollbar-corner {
    background-color: #262626;
}