/* Track */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bfbfbf;
}

/* Corner */
::-webkit-scrollbar-corner {
    background-color: #d9d9d9;
}